<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>

    <link href="../style.css" id="my-style-sheet" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="../favicon.ico" rel="shortcut icon">
    <title>狄思可(Dylan)</title>

    <style>
        .login {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .login-container {
            display: flex;
            flex-direction: column;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            width: 700px;
            padding: 20px;
            box-sizing: border-box;
            transition: all 0.3s ease-in-out;
        }

        @media screen and (max-width: 932px) {
            .login-container {
                width: 80%;
                min-width: 340px;
            }
        }

        .login-container h1 {
            text-align: center;
            color: #333;
            margin-bottom: 20px;
            font-size: 24px;
        }

        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }

        .form-group label {
            flex: 0.35;
            color: #555;
            font-size: 14px;
            margin-right: 10px;
            text-align: left;
        }

        .form-group input {
            flex: 3;
            padding: 8px;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 14px;
        }

        @media screen and (max-width: 932px) {
            .form-group input {
                flex: 1;
            }
        }

        .form-group input:focus {
            border-color: #007bff;
            outline: none;
            box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
        }

        .send-captcha-btn {
            width: 104px;
            background-color: #459efd;
            color: white;
            border: none;
            padding: 8px 12px;
            margin-left: auto;
            margin-bottom: 13px;
            border-radius: 4px;
            cursor: pointer;
        }

        .form-group .send-captcha-btn:hover {
            background-color: #2a7ae8;
        }

        .form-actions {
            display: flex;
        }

        .form-actions-link {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0;
            margin: 0;
            color: #4561fd;
            flex: 0.8;
        }

        .form-actions-link p {
            color: #4561fd;
            display: flex;
            margin: 0;
            padding: 0;
        }

        .form-actions-link p a {
            text-decoration: none;
            color: #4561fd;
        }

        .form-actions-link p a:hover {
            color: #9c2ae8;
            text-decoration: underline;
        }

        .form-actions .header-button {
            margin-left: auto;
            background-color: #459efd;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
        }

        .login-container .header-button:hover {
            background-color: #2a7ae8;
        }
    </style>
</head>

<body>
<header>
    <div class="header-box">
        <button aria-label="Toggle Menu" class="header-button" onclick="toggleMenu()" type="button"><i
                    class="fas fa-bars"></i></button>
        <h2>你好，欢迎来到 Dylan </h2>
    </div>
    <div class="user-box" style="z-index: 999;">
        <% if (userExist) { %>
            <div class="btn-box" id="user-box">
                <img alt="用户头像" width="22px" height="22px" class="user-portrait" src="<%= userPortrait %>"
                     style="border-radius: 4px;">
                <a href="#" class="user-name"><%= userName %></a>
            </div>
            <div id="user-info">
                <div class="user-info-box-1">
                    <a href="#"></a>
                </div>
                <div class="user-info-box-2">
                    <div class="user-info-box-2-child1">
                        <a class="user-info-box-2-child1-img user-portrait"
                           style="background-image: url('<%= userPortrait %>')" href="#">
                            <p>编辑头像</p>
                        </a>
                        <p class="user-name"><%= userName %></p>
                    </div>
                    <div class="user-info-box-2-child2">
                        <a href="/setting" class="user-info-box-btn" id="user-setting">设置</a>
                        <a id="logout" href="#" class="user-info-box-btn">退出登录</a>
                    </div>
                </div>
                <div class="user-info-box-3">
                </div>
            </div>
        <% } else { %>
            <div class="sign-box" id="sign-box">
                <a href="/login" id="login">登录</a>
                <a href="/register" id="register">注册</a>
            </div>
        <% } %>
        <button aria-label="Reminder" class="header-button" onclick="" style="width: 44px; height: 44px"
                type="button"><a href="#" id="bell"></a>
        </button>
    </div>
</header>

<main id="main">
    <nav class="main-nav" id="main-nav">
        <ul class="main-nav-list">
            <li class="main-nav-item" id="main-nav-title-box">
                <a id="main-nav-title">Dylan</a>
            </li>
            <li class="main-nav-item">
                <a class="main-nav-link" href="/" id="home">首页</a>
            </li>
            <li class="main-nav-item" id="parent-item">
                <a class="main-nav-link" id="introduction">介绍<i class="fas fa-angle-down" id="arrow"></i></a>
                <ul class="submenu">
                    <li><a href="#">关于我们</a></li>
                </ul>
            </li>
            <li class="main-nav-item">
                <a class="main-nav-link" href="/feedback" id="feedback">反馈</a>
            </li>
            <% if (userExist) { %>
                <hr class="main-nav-hr">
                <li class="main-nav-item">
                    <a class="main-nav-link" href="/mine" id="mine">我的</a>
                </li>
                <li class="main-nav-item">
                    <a class="main-nav-link" href="/setting" id="setting">设置</a>
                </li>
            <% } else { %>

            <% } %>
        </ul>
    </nav>

    <div class="content">
        <section class="section">
            <div class="login">
                <div class="login-container">
                    <h1>找回密码</h1>
                    <div class="form-group">
                        <label for="email">邮箱:</label>
                        <input id="email" name="email" placeholder="邮箱 例如: steve@***.com" required type="email">
                    </div>
                    <p id="captcha-email" style="margin: 0 0 0 auto;display: none; padding: 0;"></p>
                    <button class="header-button send-captcha-btn" id="email-button" type="button">发送验证码</button>

                    <div class="form-group">
                        <label for="captcha">验证码:</label>
                        <input id="captcha" name="captcha" placeholder="请输入验证码" required type="text">
                    </div>

                    <div class="form-group">
                        <label for="password">密码:</label>
                        <input id="password" minlength="6" name="password" placeholder="请输入密码" required
                               type="password" oninput="this.value = this.value.replace(/[^a-zA-Z0-9._-]/g, '')">
                    </div>

                    <div class="form-group">
                        <label for="confirm-password">确认密码:</label>
                        <input id="confirm-password" name="confirm-password" placeholder="请再次输入密码" required
                               type="password" oninput="this.value = this.value.replace(/[^a-zA-Z0-9._-]/g, '')">
                    </div>
                    <p id="captcha-error" style="margin: 0 0 0 auto;display: none; padding: 0;"></p>

                    <div class="form-actions">
                        <input class="header-button" id="forget-button" type="submit" value="提交">
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<script src="../script/navbar.js"></script>
<% if (userExist) { %>
    <script src="../script/user.js"></script>
<% } else { %>

<% } %>

<script>
    const emailButton = document.getElementById('email-button');
    const username = document.getElementById('username');
    const email = document.getElementById('email');
    const captcha = document.getElementById('captcha');
    const password = document.getElementById('password');
    const confirmPassword = document.getElementById('confirm-password');
    const captchaError = document.getElementById('captcha-error');

    emailButton.addEventListener('click', () => {
        if (!email.value) {
            captchaError.style.display = 'block';
            captchaError.style.color = 'red';
            captchaError.innerHTML = '请填写邮箱';
            return;
        }

        fetch('/api/send', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({email: email.value})
        }).then(res => {
            if (res.ok) return res.json();
        }).then(data => {
            if (data.success) {
                // 按钮冷却
                emailButton.disabled = true;
                let countdown = 30;
                const timer = setInterval(() => {
                    emailButton.textContent = `重发(${countdown})`;
                    if (countdown-- <= 0) {
                        clearInterval(timer);
                        emailButton.disabled = false;
                        emailButton.textContent = '发送验证码';
                    }
                }, 1000);
                captchaError.style.display = 'block';
                captchaError.style.color = 'green';
                captchaError.innerHTML = '验证码已发送至邮箱';
            } else {
                captchaError.style.display = 'block';
                captchaError.style.color = 'red';
                captchaError.innerHTML = data.message;
            }
        })
    })

    document.getElementById('forget-button').addEventListener('click', () => {
        if (!email.value || !captcha.value || !password.value || !confirmPassword.value) {
            captchaError.style.display = 'block';
            captchaError.style.color = 'red';
            captchaError.innerHTML = '请填写所有信息!';
            return;
        }

        if (password.length < 6 || password.length > 20) {
            captchaError.style.display = 'block';
            captchaError.style.color = 'red';
            captchaError.text('密码长度应该在 6-20 位');
        }

        if (password.value !== confirmPassword.value) {
            captchaError.style.display = 'block';
            captchaError.style.color = 'red';
            captchaError.innerHTML = '两次密码不一致';
            return;
        }

        fetch('/api/forget', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                email: email.value,
                captcha: captcha.value,
                password: password.value,
            })
        }).then(res => {
            if (res.ok) return res.json();
        }).then(data => {
            if (data.success) {
                captchaError.style.display = 'block';
                captchaError.style.color = 'green';
                captchaError.innerHTML = data.message + ', 1秒 后跳转至登录页面';
                setTimeout(() => window.location.href = '/login', 1000);
            } else {
                captchaError.style.display = 'block';
                captchaError.style.color = 'red';
                captchaError.innerHTML = data.message;
            }
        })
    })
</script>
</body>

</html>